<!DOCTYPE html>
<html>

    <head>
        <title>Web Service</title>
    </head>
    <body>
        <div class='container'>
            <h1>Web Service</h1>
            <br/>
            <br/>
                <form action="/users/list", method= "GET">
                    <button>
                        <h4>Tabla con los usuarios</h4>
                    </button>
                </form>

                <form action="/api/v1/users", method= "GET">
                    <button>
                        <h4>Endpoint para usuarios - API</h4>
                    </button>
                </form>

        </div>

    </body>
</html>